/* top | right | bottom | left */
.weaponTile {
  display: flex;
  width: 350px;
  padding: 5px 5px 5px 8px;
  margin: 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.16);
  color: rgb(21, 19, 19);
}

.weaponDetails {
  font-size: 14px;
  padding-left: 14px;
  overflow: hidden;
}

.weaponIcon img {
  margin-top: 3px;
  border-radius: 4px;
}

.weaponName {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 2px;
  white-space: nowrap;
}

.weaponName a {
  text-decoration: none;
  color: inherit;
}

.weaponType {
  font-size: 16px;
  padding-bottom: 4px;
}
