/* top | right | bottom | left */
.weaponTile {
  display: flex;
  width: 350px;
  padding: 5px 5px 5px 8px;
  margin: 5px;
  border-radius: 4px;
  background-color: rgb(29, 29, 29);
}

.weaponDetails {
  font-size: 14px;
  padding-left: 14px;
  overflow: hidden;
  background-color: inherit;
}

.weaponIcon {
  position: relative;
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(29, 29, 29);
}

.weaponIcon img {
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.weaponIcon img[alt='waterMark'] {
  z-index: 1;
}

.weaponName {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 2px;
  white-space: nowrap;
  background-color: inherit;
}

.weaponName a {
  text-decoration: none;
  color: inherit;
}

.weaponType {
  font-size: 16px;
  padding-bottom: 4px;
  background-color: inherit;
}
